[Unit]
Description=Mounting cache to write point for GENIVI persistence
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/Data/mnt-wt
Where=/Data/mnt-c
Type=none
Options=bind

[Install]
WantedBy=local-fs.target