[Unit]
Description=Rygel DLNA server
After=syslog.target
After=lightmediascanner.service

[Service]
ExecStart=/usr/bin/rygel -n lo -t

[Install]
WantedBy=multi-user.target
